.contact {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
    margin-top: 12px;
}

.contactUs {
    background-color: var(--bg-200);
    border-radius: var(--border-radius);
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*height: 500px;*/
}

.contactUs ul li {
    display: block;
    font-size: 16px;
    color: #aaaaaa;
    margin-bottom: 30px;
}

.contactUs ul li:last-child {
    margin-bottom: 0px;
}

.contactUs ul li span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-200);
    margin-bottom: 5px;
}

.more-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#map {
    position: relative;
    width: 100%;
    padding-bottom: 34.25%;
    height: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
}

#map iframe{
    position:relative;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form textarea {
    height: 130px;
}

/* ------------ queries -----------------*/
@media (max-width:1140px) {
    .contact {
        grid-template-columns: none;
        grid-template-rows: 1fr auto;
    }
    #map {
        margin: auto;
    }
}


