/* ------ carrousel ----*/
.carousel-inner {
    padding: 1rem 0;
}
.carousel-item img {
    width: 100%; 
    height: 400px; 
    object-fit: cover; 
    background-color: var(--bg-200);
}
.carousel-control-next, .carousel-control-prev {
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 10%;
    opacity: 1;
}
.carousel-control-next{
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.carousel-control-prev{
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

/* ---- links para filtros ---- */
.category-filter {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.icon-link {
    width: 30px;
    text-align: center;
}

/* ---- Pagination ---- */
.pagination .page-item.active .page-link {
    background-color: var(--primary-100);  /* Cambia esto por el color que desees */
    border-color: var(--primary-100);  /* Cambia esto también si deseas cambiar el borde */
    color: var(--accent-100);  /* Cambia el color del texto si es necesario */
}

 /* Color de fondo y texto para los enlaces normales */
.pagination .page-link {
    background-color: var(--bg-200);  /* Cambia el fondo de los enlaces */
    border-color: var(--bg-300);  /* Cambia el borde */
    color: var(--text-100);  /* Cambia el color del texto */
}

.pagination .page-link:hover {
    background-color: var(--primary-100);
    color: var(--bg-100);  
}

/* elementos deshabilitados */
.pagination .page-item.disabled .page-link {
    background-color: #e0e0e0;
    color: var(--accent-200);
    border-color: var(--bg-300);
    pointer-events: none;
}

/* Para los primeros y últimos botones de "Next" y "Previous" */
.pagination .page-item:first-child .page-link {
    border-top-left-radius: 50%; 
    border-bottom-left-radius: 50%;
} 

.pagination .page-item:last-child .page-link {
    border-top-right-radius: 50%; 
    border-bottom-right-radius: 50%;
}

/* no founds */
.no-results {
    text-align: center;
    margin: auto;
    margin-top: 6rem;
}