<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="col-md-4">
        <div class="card">
            <img src="${product.images[0]}" class="card-img-top" alt="${product.title}">
            <div class="card-body">
                <h5 class="card-title">${product.title}</h5>
                <p class="card-text">${product.description}</p>
                <a href="Product.html?id=${product.id}" class="btn btn-primary">Ver Producto</a>
            </div>
        </div>
    </div>
</body>
</html>